body, html{
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  padding-top: 5vh;
  min-height: 100%;
  width: 100%;
}
p {
  color: black;
  font-size: 25px;
}

.coverImg {
  width: 400px;
  height: 500px ;

}
#btn-mg {
  /* margin-left: 1em; */
}
.bg2{
  background-color: #433F1E;
}
.logo {
  display:inline;
  /* margin-right:3vh; */
}
/* ----Landing page---- */
.bg {
  background-image: url(../assets/background.jpg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#bubble1{
  margin-top: 18vh;
  width: 30vh;
  height:13vh;
}
#bubble2 {
  margin-top: -3vh;
  margin-left: 2vh;
  width: 40vh;
  height: 15vh;
}
.center {
  text-align: center;
}
/*----showcase---*/
.row {
  margin-bottom: 3vh;

}

.border {
  border: solid 2px black;
  border-radius: 5px;
}
/* ----Contact---- */
#input_email {
  margin-bottom: 5vh;
}
#input_email_label {
  color: rgb(124,124,124);
  margin-bottom: 5vh;
  font-family: ;
}
#email_form {
  border: 2px solid black;
  border-radius: 25px;
  background-color: rgba(34,34,34,.8);
  margin: 10vh auto;
  padding: 10vh 10vh 15vh 10vh;
}

/*----footer----*/
.footer {
  border-top: 2px solid black;
  position: absolute;
  text-align: center;
  right: 0;
  bottom: 0;
  left: 0;
  height: 5vh;

}
.footer p {
  padding: 2rem 0 2rem 0;
}
