body, html{
  height: 100%;
  margin: 0;
}

.bg {
  background-image: url(DC_Images_Edited/IMG_6133.jpg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
