body, html{
  padding-top: 5vh;
  min-height: 100%;
  width: 100%;
  margin: 0;

}
p {
  color: black;
}

.bg {
  background-image: url(assets/background.jpg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.bg2{
  background-color: #433F1E;
}
#bubble1{
  margin-top: 18vh;
  width: 30vh;
  height:13vh;
}
#bubble2 {
  margin-top: -3vh;
  margin-left: 2vh;
  width: 40vh;
  height: 15vh;
}
.col-centered {
  float: none;
  margin: 0 auto;
  text-align: center;
}
.center {
  text-align: center;
}
.row {
  margin-bottom: 3vh;

}

.border {
  border: solid 2px black;
  border-radius: 5px;

}
.logo {
  display:inline;
  margin-right:3vh;
}
#border {
  border-top: 2px solid black;
}
.footer {
  height: 10vh;
  bottom: 0;
}
.footer p {
  padding: 5vh 0 5vh 0;
}
